@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --swiper-width: 40%;
  --swiper-inactive-scale: .85;
}


html,
body,
*,
*:before,
*:after,
button,
a,
input[type="submit"],
input[type="button"],
input[type="text"],
input[type="password"],
select,
textarea,
video,
img,
body {
  cursor: none;
}



button * {
  pointer-events: none;
}

#custom-cursor> :not(:first-child) {
  display: none;
}

#custom-cursor {
  position: fixed;
  top: -10000px;
  left: -10000px;
  width: 72px;
  height: 72px;
  background-image: url("/images/cursor-glove.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  pointer-events: none;
  transform: translate(-25%, -10%);
  transition: transform 0.2s ease;
  z-index: 9999;
}



body * {
  cursor: none !important;
}

.swiper {
  position: relative;
  width: 100%;
  height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
  overflow: hidden;
}

.swiper-slide {
  position: relative;
  width: var(--swiper-width);
  opacity: .5;
  transform: scale(.84);
  transition: all .3s ease-in-out;
  overflow: hidden;
  border-radius: 0.4285rem;
}

.swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
}

.swiper-slide {
  transform: scale(.84) !important;
}

.swiper-backface-hidden .swiper-slide {
  transform: scale(.84) translateZ(0);
}

.swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}

.swiper-image {
  position: relative;
  width: 100%;
  padding-top: var(--swiper-image-ratio);
}

.swiper-button-next,
.swiper-button-prev {
  padding: 8px;
  width: 48px;
  height: 48px;
  margin-top: 0;
  background-color: #B69772;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  transform: translate(0%, -25%);
  top: 50%;
}

/* Desktop */
@media (min-width: 1024px) {
  .swiper-button-next {
    right: calc((100% - var(--swiper-width)) / 2);
  }

  .swiper-button-prev {
    left: calc((100% - var(--swiper-width)) / 2);
  }
}

/* Tablet */
@media (max-width: 1023px) {
  .swiper-button-next {
    right: 40px;
  }

  .swiper-button-prev {
    left: 40px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev {
    left: 20px;
  }
}

@font-face {
  font-family: "Impact";
  src: url("/public/fonts/impact.ttf");
}

@font-face {
  font-family: "Heavitas";
  src: url("/public/fonts/Heavitas.ttf");
}

@layer utilities {

  .guide,
  .guide * {
    outline: 1px solid red;
  }

  .outlined-text {
    font-weight: 900;
    color: white;
    text-align: center;

    /* thick black outline using multiple shadows */
    text-shadow:
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black,
      2px 2px 0 black,
      -3px 0px 0 black,
      3px 0px 0 black,
      0px -3px 0 black,
      0px 3px 0 black;
  }

  .outlined-text-sm {
    font-weight: 900;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, -2px 0px 0 black, 2px 0px 0 black, 0px -2px 0 black, 0px 2px 0 black;
  }

  .text-outline {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.5px black;
  }

  .text-outline-0 {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .75px black;
  }

  .text-outline-1 {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .5px black;
  }

  .text-fake-bold {
    text-shadow: 0 0 5px currentColor;
  }

  .card {
    /* width: 200px; */
    /* height: 300px; */
    perspective: 1000px;
    /* cursor: pointer; */
  }

  .card-shadow {
    box-shadow:
      0 0 2px #fff,
      0 0 10px #fff,
      0 0 20px #07D6FF,
      0 0 30px #07D6FF;
  }


  .card-shadow-0 {
    box-shadow:
      0 0 10px #fff,
      0 0 20px #07D6FF
  }

  .card-shadow-1 {
    box-shadow: 0px 1.88px 3.77px 0px rgba(0, 0, 0, 0.5);
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
  }

  .card.flipped .card-inner {
    transform: rotateY(180deg) rotateZ(-3deg);
  }

  .bg-swiper {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/swiper-bg.png');
    background-position: center;
    background-size: cover;
  }

  .bg-hatch-won {
    background-image:
      url('/images/hatch-win.png'),
      url('/images/hatch-win-1.png'),
      linear-gradient(rgba(92, 89, 89, 0.5), rgba(92, 89, 89, 0.5));
    background-position: center;
    background-size: 70%, contain, contain;
    background-repeat: no-repeat;
  }

  .bg-hatch-lost {
    background-image:
      url('/images/hatch-lose.png'),
      linear-gradient(rgba(55, 107, 166, 0.55), rgba(55, 107, 166, 0.55));
    background-position: center;
    background-size: 70%, contain;
    background-repeat: no-repeat;
  }

  .hammer-bg {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, .7) 70%);
  }

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-back {
    transform: rotateY(180deg);
  }

  .border-11 {
    border-width: 11px;
  }

  .auto-rows {
    grid-auto-rows: minmax(auto, 105px);
  }

  .loader {
    background: url('/public/images/loader.svg') no-repeat center center;
    background-size: contain;
    animation: spin 1s linear infinite;
  }


  .fade-left-half {
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.7) 20%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0) 100%);
  }

  .fade-right-half {
    background: linear-gradient(to left,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.7) 20%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0) 100%);
  }

  .myImg {
    animation: transitionIn 4s cubic-bezier(0, 0, 1, 1);
  }


  @keyframes transitionIn {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  .myImgFast {
    animation: reveal 1.4s steps(26) alternate 2;
  }

  @keyframes reveal {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }


  .myImgFast.invisible {
    opacity: 0;
    visibility: hidden;
  }

  .black-wall {
    background: linear-gradient(to bottom,
        rgba(30, 30, 30, 0) 0%,
        rgba(30, 30, 30, 1) 5%,
        rgba(30, 30, 30, 1) 100%);
  }


  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    background-clip: padding-box;
    border: 6px solid transparent;
    background-image: url("images/custom-scrollbar-track.png");
    background-position: center;
    background-repeat: repeat-y;
    background-size: 6px 100%;
  }

  ::-webkit-scrollbar-thumb {
    background-image: url("images/custom-scrollbar-thumb.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}